@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*pseaudoclase*/
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    /*min y max para problemas con los iphones*/
    min-height: 600px;
    max-height: 800px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;

   }

.hero::before {
    content: "";
    /* se pocicionen absolutamente a su padre que es hero*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c, #0000008c 100%), url('../images/computer.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* NAV */
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    /* sa va a la der, esto pasa xq se esta usando flex*/
    margin-left: auto;

    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    text-decoration: none;
    color: #fff;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none)
}

/* hero container*/

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    /*el contendio se alina verticalemetne??'*/
    align-content: center;
    gap: 1rem;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    /* solo ocupe su contendio, funca con grid?*/
    justify-self: center;

    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/*about*/

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
}

.about__main {
    display: grid;
    /* muy bueno para responsive*/
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1rem;
    overflow: hidden;
    padding-top: 80px;
    width: 90%;
    margin: 0 auto;
}

.about__icons {
    display: grid;
    gap: 1rem;
    /*como se relacion con grid??*/
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;
}

/* knowledge */
.knowledge {
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture {
    max-width: 500px;
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img {
    width: 100%;
    display: block;
}

/* price */

.price {
    text-align: center;
}

.price__table {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    /* el elemtnos se desborda, lo que hace que sea adaptable, util para responsive*/
    gap: 2.5em;
    /*dar espaciado equitativamente hacia todas las ezq, hablando de mandera horizontal*/
    justify-content: space-evenly;
    /*para centrar verticalemente*/
    align-items: center;
}

.price__element {
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1d293f;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696872;
}

.price__element--best {
    background-color: #ff7143;
    --color-plan: rgb(255 255 255 /75%);
    --color-price: #fff;
    --bg-cta: #9f3919;
    --color-cta: #fff;
    --color-items: #fff;
}

.price__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price {
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items {
    margin-top: 35px;
    margin-bottom: 50px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--color-items);
}

.price__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}